<div class="lx-header-container">
  <div class="main-container">
    <div
      style="
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
      "
    >
      <img
        src="{{.Site.Params.pathUrl}}/img/landxV3.svg"
        class="lx-logo"
        alt="icx-logo"
        onclick="goTo('https://landx.id/')"
      />
      <img
        src="{{.Site.Params.pathUrl}}/img/ojk.svg"
        class="lx-logo"
        alt="ojk-logo"
        onclick="goTo('https://landx.id/')"
      />
    </div>
    <div class="lx-header-right in-desktop">
      <a
        class="lx-item"
        style="
          font-size: 16px;
          font-weight: 700;
          color: #868e96;
          margin-right: 48px;
        "
        href="https://landx.id/investor"
        >Investor</a
      >
      <a
        class="lx-item"
        style="
          font-size: 16px;
          font-weight: 700;
          color: #868e96;
          margin-right: 48px;
        "
        href="https://landx.id/penerbit"
        >Penerbit</a
      >
      <button class="lx-button lx-item in-desktop" onclick="expandModal()">
        Get The App
      </button>
    </div>
    <img
      src="{{.Site.Params.pathUrl}}/img/hamburgerMenu.svg"
      alt="menu-mobile"
      class="in-mobile menu"
      onclick="toggleMenu()"
    />
  </div>

  <div class="modal" id="menumodal">
    <div
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 16px;
        border-bottom: 1px solid gainsboro;
      "
    >
      <h1>Unduh Aplikasi</h1>
      <div
        style="
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
        "
        onclick="closeModal()"
      >
        <img
          src="{{.Site.Params.pathUrl}}/img/close-ic.svg"
          alt="close"
          style="width: 20px; height: 20px; filter: brightness(0%)"
        />
      </div>
    </div>
    <p style="margin-bottom: 0px">Scan QR code to download LandX app</p>
    <div
      style="width: 100%; height: auto; display: flex; justify-content: center"
    >
      <img
        alt="barcode-app"
        src="{{.Site.Params.pathUrl}}/img/barcode-app.svg"
        style="width: 200px; height: 200px"
      />
    </div>
    <p style="margin-bottom: 0px">Download from app stores</p>
    <div
      style="
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
      "
    >
      <a
        class="lx-item"
        style="margin-right: 48px"
        href="https://play.google.com/store/apps/details?id=store.numoney.landxapp"
      >
        <img
          src="{{.Site.Params.pathUrl}}/img/google-play.svg"
          alt="play-store"
          style="width: 100%; height: 100%"
        />
      </a>
      <a
        class="lx-item"
        href="https://apps.apple.com/id/app/landx/id1453823676"
      >
        <img
          src="{{.Site.Params.pathUrl}}/img/app-store.svg"
          alt="app-store"
          style="width: 100%; height: 100%"
        />
      </a>
    </div>
  </div>

  <div class="category-section" id="categorysection">
    <div class="main-container">
      <a href="/blog">Semua</a>
      {{ with .Site.GetPage "/partials/landx-header/_index.md" }} {{ range
      .Params.headerCategory }}
      <a href="/blog/category/{{ . | urlize }}">{{ . }}</a>
      {{ end }} {{ end }}
    </div>
  </div>

  <div class="menu-drawer" id="menudrawer">
    <div class="menu-container" id="menucontainer">
      <a href="https://landx.id/#why-landx" class="menu-item">Investor</a>
      <a href="https://landx.id/#ongoing-projects" class="menu-item"
        >Penerbit</a
      >
      <button
        class="lx-button"
        style="padding: 34px 0px 16px"
        onclick="expandModal()"
        type="button"
      >
        Get The App
      </button>
    </div>
  </div>

  <script>
    let isMenuOpen = false;
    let isModalOpen = false;

    let md = document.getElementById("menudrawer");
    let mc = document.getElementById("menucontainer");
    let sm = document.getElementById("secondmenu");
    let it = document.getElementById("items");

    function toggleMenu() {
      isMenuOpen = !isMenuOpen;
      md.style.height = isMenuOpen ? `${mc.offsetHeight}px` : "0px";
    }

    function expandMenu() {
      sm.style.height =
        sm.style.height === `${it.offsetHeight}px`
          ? "0px"
          : `${it.offsetHeight}px`;
      md.style.height =
        md.style.height === `${mc.offsetHeight}px`
          ? "0px"
          : `${mc.offsetHeight}px`;
    }

    let modal = document.getElementById("menumodal");

    function expandModal() {
      isModalOpen = !isModalOpen;
      modal.style.display = isModalOpen ? "flex" : "none";
    }

    function closeModal() {
      isModalOpen = !isModalOpen;
      modal.style.display = "none";
    }

    function goTo(string) {
      window.location.href = string;
    }

    window.addEventListener("resize", () => {
      if (window.innerWidth > 768 && isMenuOpen) {
        toggleMenu();
      }
    });
  </script>
</div>
