<div class="divider-footer"></div>
<div class="lx-footer-container">
  <!-- <div class="lx-footer-main footer-section">Footer</div> -->
  <hr class="section-divider" />
  <div class="lx-footer-main disclaimer-section">
    <p class="header">Disclaimer</p>
    <p>
      PT Numex Teknologi Indonesia (“LandX” atau “Penyelenggara”) hadir dalam
      rangka mendukung program pemerintah di bidang perumahan dengan
      mengembangkan bisnis layanan urun dana bersama, dengan mempertemukan
      Pemodal dan pihak pengembang properti (“Penerbit”) (selanjutnya Pemodal
      dan Penerbit disebut bersama-sama sebagai “Pengguna”). Pada layanan urun
      dana ini, timbulnya hubungan perdata terjadi apabila Pemodal sepakat untuk
      membeli saham yang ditawarkan oleh Penerbit, sehingga segala risiko yang
      timbul dari hubungan tersebut akan menjadi tanggung jawab masing-masing
      pihak. Risiko yang timbul dari hak sebagai Pemodal untuk menerima dividen
      dari Penerbit merupakan risiko yang wajib ditanggung oleh Pemodal sesuai
      kebijakan dividen Penerbit. LandX hanya bertindak sebagai layanan urun
      dana yang mempertemukan antara Pemodal dengan Penerbit, dan tidak
      bertindak sebagai pelaku usaha yang menjalankan usaha untuk mengumpulkan
      dana terkait atau pengelola investasi (Penerbit). Sesuai dengan Pasal 23
      Peraturan Otoritas Jasa Keuangan No. 37 Tahun 2018 tentang Layanan Urun
      Dana melalui Penawaran Saham Berbasis Teknologi Informasi atau Equity
      Crowdfunding (“POJK 37/2018”), kami menyatakan bahwa:
    </p>
    <p>
      a. OTORITAS JASA KEUANGAN TIDAK MEMBERIKAN PERNYATAAN MENYETUJUI ATAU
      TIDAK MENYETUJUI EFEK INI, TIDAK JUGA MENYATAKAN KEBENARAN ATAU KECUKUPAN
      INFORMASI DALAM LAYANAN URUN DANA INI. SETIAP PERNYATAAN YANG BERTENTANGAN
      DENGAN HAL TERSEBUT ADALAH PERBUATAN MELANGGAR HUKUM.
    </p>
    <p>
      b. INFORMASI DALAM LAYANAN URUN DANA INI PENTING DAN PERLU MENDAPAT
      PERHATIAN SEGERA. APABILA TERDAPAT KERAGUAN PADA TINDAKAN YANG AKAN
      DIAMBIL, SEBAIKNYA BERKONSULTASI DENGAN PENYELENGGARA.
    </p>
    <p>
      c. PENERBIT SAHAM DAN PENYELENGGARA, BAIK SENDIRI-SENDIRI MAUPUN
      BERSAMA-SAMA, BERTANGGUNG JAWAB SEPENUHNYA ATAS KEBENARAN SEMUA INFORMASI
      YANG TERCANTUM DALAM LAYANAN URUN DANA INI.
    </p>
  </div>
  <hr class="section-divider" />
  <div class="lx-footer-main credits-section">
    © 2022 PT Numex Teknologi Indonesia. All Rights Reserved.
  </div>
</div>
