<div class="footer-container">
  <p
    style="
      font-size: 14px;
      font-weight: 700;
      max-width: 1140px !important;
      width: 100%;
      color: #fff;
      margin-bottom: 16px;
    "
  >
    Disclaimer
  </p>
  <p style="font-size: 12px; max-width: 1140px !important">
    PT ICX BANGUN INDONESIA (dh. PT Numex Teknologi Indonesia) (selanjutnya
    disebut “LandX”) adalah Perusahaan yang didirikan berdasarkan Hukum
    Indonesia yang bertindak sebagai Penyelenggara Layanan Urun Dana Melalui
    Penawaran Efek Berbasis Teknologi Informasi yang telah berizin dan diawasi
    oleh Otoritas Jasa Keuangan (OJK) berdasarkan Keputusan Dewan Komisioner OJK
    Nomor Kep-068/D.04/2020 tentang Pemberian Izin Usaha Penyelenggara Layanan
    Urun Dana Melalui Penawaran Efek Berbasis Teknologi Informasi PT Numex
    Teknologi Indonesia. Kegiatan Investasi melalui Layanan Urun Dana memiliki
    tingkat risiko tinggi, Pemodal diwajibkan telah membaca Syarat dan Ketentuan
    serta seluruh dokumen yang dipaparkan oleh LandX melalui website dan/atau
    aplikasi LandX. LandX tidak pernah memaksa Pemodal untuk melakukan pembelian
    Efek yang sedang ditawarkan. Segala transaksi yang dilakukan oleh Pemodal
    dilakukan oleh Pemodal dengan kesadaran penuh dan tanpa paksaan dari Pihak
    manapun. LandX berperan sebagai Penyelenggara Layanan Urun Dana dalam
    melakukan kegiatan Penawaran Efek Melalui Layanan Urun Dana Berbasis
    Teknologi Informasi yang mempertemukan antara Penerbit dengan Pemodal. OJK
    bertindak sebagai regulator dan pemberi izin serta pengawas, tidak sebagai
    penjamin investasi. Segala risiko menjadi tanggung jawab penuh dari Pemodal.
    Pemodal telah menyadari secara penuh bahwa terdapat sejumlah risiko dalam
    melakukan investasi pada layanan urun dana. Oleh karena itu, LANDX TIDAK
    BERTANGGUNG JAWAB terhadap kerugian dan gugatan hukum serta segala bentuk
    risiko lain yang timbul di kemudian hari. Sejumlah risiko tersebut
    diantaranya:
    <br /><br />
    <b style="font-weight: 700">Risiko Usaha</b>
    <br />
    <b
      >Risiko usaha merupakan hal yang tidak dapat dihindari dalam
      menjalankan</b
    >
    kegiatan usaha. Sejumlah risiko usaha yang mungkin saja terjadi adalah
    penutupan kegiatan usaha secara sementara sebagai dampak dari adanya bencana
    alam dan/atau keadaan kahar lainnya.
    <br /><br />
    <b style="font-weight: 700">Risiko Kerugian Investasi</b>
    <br />
    Setiap investasi memiliki tingkat risiko yang beragam, salah satunya adalah
    tidak terkumpulnya dana investasi sesuai proyeksi yang telah ditetapkan
    dan/atau proyek yang dijalankan tidak menghasilkan keuntungan sesuai dengan
    yang ditargetkan.
    <br /><br />
    <b style="font-weight: 700">Risiko Kekurangan Likuiditas</b>
    <br />
    Pemodal yang melakukan investasi memungkinkan dalam bentuk tidak likuid
    karena efek bersifat ekuitas yang ditawarkan tidak terdaftar di bursa efek
    atau belum dilaksanakan pasar sekunder. Hal ini berarti Pemodal mungkin
    tidak dapat dengan mudah menjual saham miliknya kepada pihak lain.
    <br /><br />
    <b style="font-weight: 700"
      >Risiko Kelangkaan Pembagian Dividen dan/atau Dilusi Kepemilikan Saham,
      Jika</b
    >
    Efek Yang Diterbitkan Merupakan Saham
    <br />
    Setiap Pemodal yang melakukan investasi pada efek bersifat ekuitas berupa
    saham, memiliki hak untuk mendapat dividen sesuai dengan jumlah kepemilikan
    yang dimiliki yang dibagikan oleh Penerbit melalui Penyelenggara secara
    periodik. Namun, kelangkaan dalam pembagian dividen dimungkinkan terjadi
    karena kinerja bisnis suatu proyek yang diinvestasikan tidak berjalan
    sebagaimana mestinya serta berpotensi terdilusi kepemilikan saham karena
    bertambahnya total saham yang beredar atau ditawarkan.
    <br /><br />
    <b style="font-weight: 700">Risiko Gagal Bayar</b>
    <br />
    Penawaran Efek bersifat utang atau sukuk memiliki risiko dimana Penerbit
    akan gagal bayar (default). Apabila Penerbit mengalami gagal bayar maka Wali
    Amanat berdasarkan Surat Kuasa akan mengundang dan mengadakan Rapat Umum
    Pemegang Obligasi (RUPO), dalam RUPO tersebut akan dibahas mengenai gagal
    bayar yang terjadi serta skema perpanjangan jatuh tempo kupon ataupun
    eksekusi jaminan fidusia dan jaminan Penerbit lainnya (apabila ada).
    <br /><br />
    <b style="font-weight: 700">Risiko Kegagalan Sistem Elektronik</b>
    <br />
    Sistem pada LandX sudah menerapkan sistem elektronik dan keamanan data yang
    handal. Namun gangguan sistem teknologi informasi dan kegagalan sistem
    mungkin saja tetap terjadi. Untuk mencegah hal tersebut terjadi, LandX telah
    memiliki sejumlah kebijakan keamanan informasi diantaranya: a.
    Mengimplementasikan dan menerapkan ISO 27001; b. Menaati segala ketentuan
    peraturan perundang-undangan terkait keamanan data pribadi dan informasi
    yang berlaku di Republik Indonesia; c. Melakukan perbaikan secara berkala
    terhadap kinerja Sistem Manajemen Keamanan Informasi.
    <br />
  </p>
  <p style="font-size: 10px; max-width: 1140px !important">
    Sesuai dengan pasal 27 Peraturan Otoritas Jasa Keuangan Nomor
    57/POJK.04/2020 tentang Penawaran Efek Melalui Layanan Urun Dana Berbasis
    Teknologi Informasi (“POJK 57/2020”), kami menyatakan bahwa:
    <br /><br />
    a. OTORITAS JASA KEUANGAN TIDAK MEMBERIKAN PERSETUJUAN TERHADAP PENERBIT DAN
    TIDAK MEMBERIKAN PERNYATAAN MENYETUJUI ATAU TIDAK MENYETUJUI EFEK INI, TIDAK
    JUGA MENYATAKAN KEBENARAN ATAU KECUKUPAN INFORMASI DALAM LAYANAN URUN DANA
    INI. SETIAP PERNYATAAN YANG BERTENTANGAN DENGAN HAL TERSEBUT ADALAH
    PERBUATAN MELANGGAR HUKUM;
    <br /><br />
    b. “INFORMASI DALAM LAYANAN URUN DANA INI PENTING DAN PERLU MENDAPAT
    PERHATIAN SEGERA. APABILA TERDAPAT KERAGUAN PADA TINDAKAN YANG AKAN DIAMBIL,
    SEBAIKNYA BERKONSULTASI DENGAN PENYELENGGARA;
    <br /><br />
    c. “PENERBIT DAN PENYELENGGARA, BAIK SENDIRI-SENDIRI MAUPUN BERSAMA-SAMA,
    BERTANGGUNG JAWAB SEPENUHNYA ATAS KEBENARAN SEMUA INFORMASI YANG TERCANTUM
    DALAM LAYANAN URUN DANA INI.
  </p>
  <div style="border-top: 1px solid #343a40; width: 100vw"></div>
  <p
    style="
      padding-top: 16px;
      font-size: 14px;
      max-width: 1140px !important;
      width: 100%;
      color: #fff;
    "
  >
    © 2022 PT ICX Bangun Indonesia. All Rights Reserved.
  </p>
</div>
