{{ if gt .Paginator.TotalPages 1 }}

<div class="paginator-container">
  {{ if .Paginator.HasPrev }}
  <a title='Previous Page' href="/{{.Site.Params.pathUrl}}{{ .Paginator.Prev.URL }}">
    <i class="fas fa-arrow-left"></i>
    <span>Previous</span>
  </a>
  {{ else }}
  <div>&nbsp;</div>
  {{ end }}

  {{ if .Paginator.HasNext }}
  <a title='Previous Page' href="/{{.Site.Params.pathUrl}}{{ .Paginator.Next.URL }}">
    <span>Next</span>
    <i class="fas fa-arrow-right"></i>
  </a>
  {{ else }}
  <div>&nbsp;</div>
  {{ end }}
</div>

{{ end }}