<style>
  .item-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #e9ecef;
    border-radius: 12px;
    background-color: #fff;
  }

  .item-card .image {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }

  .item-card .item-detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 16px;
    position: relative;
    width: 100%;
    height: 100%;
  }

  .item-detail .details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }

  .item-detail .details .author-image {
    height: 30px;
    width: 30px;
    margin-right: 10px;
    border-radius: 4px;
  }

  .item-detail .title {
    font-size: 18px;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    height: 110px;
  }

  a.item-card:hover .item-detail .title {
    color: var(--primary);
  }

  .category {
    font-size: 14px;
    text-transform: uppercase;
    color: #868e96;
    font-weight: 500;
  }

  @media (max-width: 1200px) {
    .item-card .image {
      height: 180px;
    }
  }

  @media (max-width: 760px) {
    .item-card {
      width: 100%;
    }
  }
</style>

<div style="margin: 10px; width: 100%">
  <a href="{{ .RelPermalink }}" class="item-card" style="width: 100%">
    {{if .Params.image}} {{if in .Params.image "http"}}
    <div class="image">
      <img
        loading="lazy"
        src="{{.Params.image}}"
        class="image"
        alt="{{.Params.title}}"
        title="{{.Params.title}}"
      />
    </div>
    {{else}}
    <div class="image">
      <img
        loading="lazy"
        src="{{.Site.Params.pathUrl}}/{{.Params.image}}"
        class="image"
        alt="{{.Params.title}}"
        title="{{.Params.title}}"
      />
    </div>
    {{end}} {{else if .Params.featuredImage.src}} {{if in
    .Params.featuredImage.src "http"}}
    <div class="image">
      <img
        loading="lazy"
        src="{{.Params.featuredImage.src}}"
        class="image"
        alt="{{.Params.featuredImage.alt}}"
        title="{{.Params.featuredImage.title}}"
      />
    </div>
    {{else}}
    <div class="image">
      <img
        loading="lazy"
        src="{{.Site.Params.pathUrl}}/{{.Params.featuredImage.src}}"
        class="image"
        alt="{{.Params.featuredImage.alt}}"
        title="{{.Params.featuredImage.title}}"
      />
    </div>
    {{end}} {{end}}

    <div class="item-detail">
      <div class="category">CROWDFUNDING</div>
      <div class="title">{{.Params.title}}</div>
      <div class="details">
        <div
          style="
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: fit-content;
          "
        >
          <div class="author-image">
            <img
              src="{{.Site.Params.pathUrl}}/{{.Params.featuredImage.src}}"
              style="width: 100%; height: 100%; border-radius: 4px"
            />
          </div>
          <p
            style="
              color: #212529;
              font-size: 12px;
              font-weight: 500;
              margin-bottom: 0px;
            "
          >
            {{ .Params.author }}
          </p>
        </div>
        <p
          style="
            color: #adb5bd;
            font-size: 12px;
            font-weight: 500;
            margin-bottom: 0px;
          "
        >
          5 Min Read
        </p>
      </div>
    </div>
  </a>
</div>
