<!-- <a href="{{ .RelPermalink }}" class="no-underline pa3 bg-grey-1 br1 mb2 db raise w-100">
	<h2 class="f3 b lh-title mb1 primary">{{ .Title }}</h2>
	<p class="mid-gray lh-title mb2">{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
	<p class="mb0">{{ .Description }}</p>
	<p class="link b dib black mb0">Read →</p>
</a> -->

<a href="{{ .RelPermalink }}" class="landx-card" style="background-image: url({{.Params.image}});">
  <div class="container">
    <div class="title">{{ .Title }}</div>
    <div class="description">{{ .Description }}</div>
    <div class="date">{{ .Date.Format "Mon, 2 Jan 2006" }} - {{ .ReadingTime }} min read</div>
  </div>
</a>