{{ define "main" }}

<!-- {{ partial "landx-jumbotron" (dict "imageUrl" "/img/header_background.webp" "title" "Landx Blog" "path"
.Site.Params.pathUrl) }} -->

<style>
  .blog-main-container {
    width: 100%;
    max-width: 1140px;
    min-height: 200px;
    margin-bottom: 64px;
    margin-left: auto;
    margin-right: auto;
    padding: 32px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .blog-main-container .section-title {
    font-size: 32px;
    color: #212529;
    font-weight: 600;
  }

  .blog-section {
    height: fit-content;
    width: 100%;
    max-width: 1140px;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .blog-item-container {
    flex: 0.5;
  }

  @media (max-width: 768px) {
    .blog-main-container {
      padding: 32px 20px;
    }

    .blog-section {
      grid-template-columns: repeat(1, 1fr);
    }

    .blog-item-container {
      flex: 1;
    }
  }
</style>

<div class="blog-main-container">
  <h1 class="section-title extra-bold">Artikel Pilihan</h1>
  <div class="blog-section">
    {{ range .Site.Pages}} {{ if .Params.isPinned }} {{ .Render "landx-li"}}
    {{end}} {{ end }}
  </div>

  <br />
  <br />

  <h2 class="section-title extra-bold">Artikel Lainnya</h2>
  <div class="blog-section">
    {{ range (.Paginator 20).Pages.ByPublishDate.Reverse }}
    <div class="blog-item-container">{{ .Render "landx-li"}}</div>
    {{ end }}
  </div>
  {{ partial "landx-paginator" . }}
</div>

{{end}}
