{{ define "main" }}

{{if .Params.featuredImage.src}}

{{ $imageurl := print $.Params.featuredImage.src}}

{{ partial "landx-jumbotron" (dict "imageUrl" $imageurl "title" .Title "path" .RelPermalink "altText"
.Params.featuredImage.alt) }}

{{else}}
{{ partial "landx-jumbotron" (dict "imageUrl" "/img/header_background.webp" "title" .Title)
}}
{{end}}


<div class="mw8 center">
  <ul class="flex-ns flex-wrap mhn1-ns pa3">
    {{ range .Data.Pages }}
    <div class="w-50-ns ph3-ns flex">
      {{ .Render "landx-li"}}
    </div>
    {{ end }}
  </ul>
  {{ partial "landx-paginator" . }}
</div>
{{ end }}