.lx-header-container {
  /* box-shadow: 0px 6px 6px 0px #d5d5d566; */
  background-color: white;
  padding: 24px 16px;
  height: 88px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 99;
}

.lx-header-container .main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0px auto;
}

.lx-header-container a,
.dropdown {
  font-family: roboto, sans-serif !important;
  text-decoration: none;
  font-size: 16px;
  color: #5e798d !important;
  margin-bottom: 4px;
  margin-top: 0px;
  font-weight: 400;
  line-height: 1.5;
}

.lx-header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  max-width: 50%;
  flex: 0 0 50%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  /* gap: 30px; */
}

.lx-header-right a {
  margin-left: 35px;
}

.lx-logo {
  cursor: pointer;
  width: 91px;
  height: 31px;
}

.lx-button {
  background-color: var(--primary);
  border-color: var(--primary);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.35px;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  padding: 8px 16px;
  text-transform: uppercase;
  height: 39px;
}

.lx-button:focus {
  outline: none !important;
  box-shadow: 0 0 0 0.2rem rgb(38 143 255 / 50%);
}

.dropdown {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content div {
  padding: 8px 4px;
  width: 207px;
  border-bottom: 1px solid #e5e5e5;
  text-indent: 16px;
}

.dropdown-content div a {
  width: 100%;
  display: block;
}

.dropdown-content div a:focus {
  box-shadow: none;
}

.dropdown-content div:last-child {
  border-bottom: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown .expanded {
  display: none;
}

.dropdown:hover .closed {
  display: none;
}

.dropdown:hover .expanded {
  display: inline-block;
}

.menu {
  width: 32px;
  height: 31px;
  border-radius: 0px !important;
}

.menu-drawer {
  position: fixed;
  top: 88px;
  left: 0px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: white;
  padding: 0px;
  box-shadow: 0px 6px 6px 0px #d5d5d566;
  font-family: roboto, sans-serif !important;
  z-index: 2;

  height: 0px;
  overflow-y: hidden;
  transition: height 0.5s ease-in-out;
}

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  max-width: 400px;
  padding: 32px 16px;
}

.menu-container .menu-item {
  color: #5e798d;
  padding: 16px;
  border-bottom: 1px solid #e5e5e5;
}

.menu-container .menu-item {
  display: block;
  font-size: 16px;
  font-weight: 700;
}

.menu-container .second-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 0px;
  overflow-y: hidden;
}

.second-menu .second-menu-item {
  padding: 8px 16px 8px 0px;
  border-bottom: 1px solid #e5e5e5;
  margin-left: 40px;
  color: #5e798d;
  font-size: 16px;
}

.second-menu .second-menu-item:last-child {
  border-bottom: none;
}

.second-menu .second-menu-item:hover {
  background-color: #5e798d10;
}

/* SUB HEADER (CATEGORY) */
.category-section {
  position: fixed;
  top: 88px;
  width: 100vw;
  color: #5e798d;
  display: flex;
  justify-content: center;
  background-color: white;
  border-top: 1px solid #ccd7df;
  box-shadow: 0px 6px 6px 0px #d5d5d566;
  font-family: roboto, sans-serif !important;
  font-size: 0.7rem;
  z-index: 2;
  height: 49px;
}

.category-section .main-container {
  max-width: 1140px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  cursor: pointer;
  text-decoration: none;
}

.category-section a {
  font-weight: bold;
}

.category-section a:hover {
  color: #415361;
}

.category-section i {
  font-size: 0.9rem;
  color: #384853;
}

@media (min-width: 1200px) {
  .lx-header-container .main-container {
    max-width: 1140px;
  }
}

@media (max-width: 768px) {
  .in-desktop {
    display: none;
  }

  .category-section {
    gap: 12px;
    font-size: 0.65rem;
  }
  .category-section i {
    display: none;
  }
}

@media (min-width: 769px) {
  .in-mobile {
    display: none;
  }
}
