.lx-footer-container {
  font-family: roboto, sans-serif !important;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 48px 0;
  color: white;
  font-size: 14px !important;
}

.lx-footer-main {
  width: 100%;
  max-width: 1140px;
}

.lx-footer-container .section-divider {
  width: 100%;
  border-width: 0px 0px thin;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.12);
  background-color: #343a40;
}

.lx-footer-container .disclaimer-section p {
  max-width: unset;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  color: #adb5bd;
}

.lx-footer-container .disclaimer-section .header {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  color: #ffffff;
}
