.lx-header-container {
  background-color: white;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lx-header-container .main-container {
  height: 100%;
  width: 100%;
  max-width: 1140px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.lx-header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.lx-header-container a,
.dropdown {
  font-family: roboto, sans-serif !important;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
}

.lx-logo {
  cursor: pointer;
  width: auto;
  height: 30px;
  object-fit: cover;
  margin-right: 26px;
}

.lx-button {
  color: #00c48f;
  font-size: 16px;
  font-weight: 700;
  background-color: transparent;
}

.lx-item:hover {
  color: #212529 !important;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  width: 70px;
  z-index: 20;
  border: 1px solid #e5e5e5;
}

.dropdown-content div {
  padding: 8px 4px;
  width: 207px;
  border-bottom: 1px solid #e5e5e5;
  text-indent: 16px;
}

.dropdown-content div a {
  width: 100%;
  display: block;
}

.dropdown-content div a:focus {
  box-shadow: none;
}

.dropdown-content div:last-child {
  border-bottom: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown .expanded {
  display: none;
}

.dropdown:hover .closed {
  display: none;
}

.dropdown:hover .expanded {
  display: inline-block;
}

.menu {
  width: auto;
  object-fit: cover;
  height: 18px;
  border-radius: 0px !important;
}

.menu-drawer {
  position: fixed;
  top: 80px;
  left: 0px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: white;
  padding: 0px;
  box-shadow: 0px 6px 6px 0px #d5d5d566;
  font-family: roboto, sans-serif !important;
  z-index: 40;
  height: 0px;
  overflow-y: hidden;
  transition: height 0.5s ease-in-out;
}

.modal {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 80%);
  width: 500px;
  height: auto;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  padding: 0px;
  border: 1px solid gainsboro;
  box-shadow: 0px 6px 6px 0px #d5d5d566;
  border-radius: 6px;
  z-index: 40;
  overflow: hidden;
}

.modal h1 {
  font-size: 22px;
  font-weight: 600;
}

.modal p {
  font-size: 16px;
  padding: 16px;
  width: 100%;
  text-align: center;
}

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding: 18px;
}

.menu-container .menu-item {
  color: #5e798d;
  padding: 16px 0px;
  border-bottom: 1px solid #e5e5e5;
}

.menu-container .menu-item {
  display: block;
  font-size: 16px;
  font-weight: 700;
}

/* SUB HEADER (CATEGORY) */
.category-section {
  position: fixed;
  top: 80px;
  left: 0px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-top: 1px solid #ccd7df;
  border-bottom: 1px solid #ccd7df;
  box-shadow: 0px 6px 6px 0px #d5d5d533;
  z-index: 10;
  padding: 16px 0px;
}

.category-section .main-container {
  max-width: 1140px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
}

.category-section .main-container a {
  margin-right: 24px;
  color: #212529;
  font-size: 14px;
}

.category-section .main-container a:hover {
  color: #00c48f !important;
  font-weight: 600;
}

.in-desktop {
  display: flex;
}

.in-mobile {
  display: none;
}

@media (max-width: 1200px) {
  .in-desktop {
    display: none;
  }

  .in-mobile {
    display: flex;
  }
}

@media (max-width: 1200px) {
  .category-section {
    gap: 12px;
    font-size: 0.65rem;
  }

  .category-section i {
    display: none;
  }

  .lx-header-container {
    height: 70px;
  }

  .menu-drawer {
    top: 70px !important;
  }

  .category-section {
    top: 70px !important;
    overflow-x: scroll !important;
  }

  .main-container {
    padding: 0px 66px;
  }

  .lx-logo {
    height: 20px !important;
    margin-right: 15px;
  }

  .category-section .main-container a {
    min-width: fit-content !important;
    width: 100%;
  }

  .modal {
    z-index: 99;
  }

  .modal h1 {
    font-size: 20px;
  }

  .modal p {
    font-size: 14px;
  }
}

@media (max-width: 760px) {
  .main-container {
    padding: 0px 16px;
  }

  .modal {
    transform: translate(-50%, 70%);
    width: 90%;
    height: 500px;
  }
}
