.footer-container {
  background-color: #000;
  color: #adb5bd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 66px;
  padding-left: 66px;
  padding-right: 66px;
}

@media (max-width: 768px) {
}
