{{ define "main" }}

<style>
  .blog-container .image-container .image {
    width: 100vw;
    height: 700px;
    position: absolute;
    object-fit: cover;
    left: 0;
  }

  .blog-container .image-container {
    height: 700px;
    margin-bottom: 50px;
  }

  .blog-title {
    font-size: 34px;
  }

  .information {
    font-size: 16px;
    gap: 12px;
  }
</style>

<div class="mw7 center ph3 pv4 post-container blog-container">
  <h1 class="f2 lh-title b mb3 blog-title">{{.Title}}</h1>

  <div class="flex grey-3 information">
    <p style="color: #868e96">{{ .Date.Format "2 January 2006" }}</p>
    <p style="color: #868e96">|</p>
    <p style="color: #868e96">{{ .ReadingTime }} Min Read</p>
    <p style="color: #868e96">|</p>
    <div
      style="color: #868e96; cursor: pointer"
      onclick="window.location.href = '/blog/author/{{.Params.author | urlize}}'"
    >
      Author: {{.Params.author}}
    </div>
  </div>

  <div class="cms mw7 center">
    {{if .Params.image}} {{if in .Params.image "http"}}
    <img src="{{.Params.image}}" class="image" />
    {{else}}
    <img src="{{.Site.Params.pathUrl}}/{{.Params.image}}" class="image" />
    {{end}} {{else if .Params.featuredImage.src}} {{if in
    .Params.featuredImage.src "http"}}
    <img
      src="{{.Params.featuredImage.src}}"
      class="image"
      alt="{{.Params.featuredImage.alt}}"
      title="{{.Params.featuredImage.title}}"
    />
    {{else}}
    <img
      src="{{.Site.Params.pathUrl}}/{{.Params.featuredImage.src}}"
      class="image"
      alt="{{.Params.featuredImage.alt}}"
      title="{{.Params.featuredImage.title}}"
    />
    {{end}} {{end}}

    <p class="description">{{ .Params.intro }}</p>
    <div class="toc-container">
      <h2>Table Of Contents</h2>
      {{.TableOfContents}}
    </div>
    <div style="font-size: 0.75rem">{{ .Content }}</div>

    <div class="terms-container">
      <div class="chip-container in-content">
        {{ range .Params.tag }}
        <a href="{{$.Site.Params.pathUrl}}/tag/{{. | urlize }}" class="chip"
          >#{{.}}</a
        >
        {{ end }}
      </div>
    </div>
  </div>

  {{partial "related" .}}

  <div
    class="paginator-container"
    style="padding-top: 32px; border-top: 1px solid #ccd7df"
  >
    {{with .Next}}
    <a title="Previous Page" href="{{.Permalink}}">
      <i class="fas fa-arrow-left"></i>
      <span>Previous</span>
    </a>
    {{ else }}
    <div>&nbsp;</div>
    {{ end }} {{with .Prev}}
    <a title="Previous Page" href="{{.Permalink}}">
      <span>Next</span>
      <i class="fas fa-arrow-right"></i>
    </a>
    {{ else }}
    <div>&nbsp;</div>
    {{ end }}
  </div>
</div>

<script>
  window.addEventListener("DOMContentLoaded", () => {
    const toc = document.getElementById("TableOfContents");
    const anchor = toc.getElementsByTagName("a");
    const loc = window.location;
    for (let i = 0; i < anchor.length; i++) {
      anchor[i].href = loc.origin + loc.pathname + anchor[i].hash;
    }

    const headings = document.querySelectorAll(
      "h1[id], h2[id], h3[id], h4[id], h5[id], h6[id"
    );
    headings.forEach((item) => {
      item.style.scrollMarginTop = "3em";
    });
  });
</script>

{{ end }}
