{{ define "main" }}

<div class="mw6 center ph3 pv4">
  <h1 class="f2 lh-title b mb3">{{.Title}}</h1>
  <div class="flex justify-between grey-3">
    <p>{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
    <p>Read in {{ .ReadingTime }} minutes</p>
  </div>
  <div class="cms mw6">
    <p>{{ .Description }}</p>
    {{ if .Params.image }}<img src="{{ .Params.image }}" alt="{{ .Title }}" />{{ end }}
    {{ .Content }}
  </div>

  <div class="paginator-container" style="padding-top: 32px; border-top: 1px solid #ccd7df">   

    {{with .Next}}
    <a title='Previous Page' href="{{.Permalink}}">
      <i class="fas fa-arrow-left"></i>
      <span>Previous</span>
    </a>
    {{ else }}
    <div>&nbsp;</div>
    {{ end }}

    {{with .Prev}}
    <a title='Previous Page' href="{{.Permalink}}">
      <span>Next</span>
      <i class="fas fa-arrow-right"></i>
    </a>
    {{ else }}
    <div>&nbsp;</div>
    {{ end }}
  </div>
</div>






{{ end }}